@import '../abstracts/variables'; 

.about {
    text-align: center; 
    height: 100vh; 

    background-image: url('dubai_zipline.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    &__main {
        padding-top: 8%; 
        max-width: 100%;
        height: 95vh;  

        @media screen and (max-width: 700px) {
            padding-top: 20%; 
        }
    }

    &__p {
        @extend %flex-col-center; 

        p {
            color: $main-off-white; 
            line-height: 3rem;
            width: 90%;
        }

        padding-top: 3%; 

        @media screen and (max-width: 530px) {
            font-size: 1.4rem;
        }

        @media screen and (min-width: 531px) {
            font-size: 1.5rem; 
        }

         @media screen and (min-width: 1600px) {
            font-size: 3rem; 
            line-height: 6rem; 
        }
    }

    #fly {
        width: 200px; 
        padding-left: 9px; 
        padding-bottom: 8px; 

        i {
            font-size: 1.7rem; 
            position: relative; 
            top: 5px; 
        }
    }

    &__buttons {
        display: flex; 
        flex-direction: row; 
        justify-content: center;
        button:nth-child(2) {
            margin-left: 20px; 
        }
        
        a {
            color: $main-off-white; 
            width: 200px;
            
            &:hover {
                color: $main-accent; 
            }
        }
    }

    footer {
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0.5rem;
        height: 5vh; 
        background: rgba(20, 20, 20, 0.5); 
        color: $main-off-white; 
        font-size: 1rem; 
    }

}