@import '../abstracts/variables'; 

.case-study {
    @extend %flex-col-center;
    padding-top: -70px; 
    animation: fade 1s ease-out;  
}

.header-project { //most of the styes are same as front page header
    background: #000; 
    color: $main-off-white !important; 
    position: static; 
}

.project-hero {
    @extend %flex-col-center; 
    box-shadow: 0 2px 2px -2px gray; 
    width: 100%; 

    h1 {
        font-size: 5rem; 
        font-family: 'Lato', sans-serif; 
        margin-bottom: 0; 
        margin-top: 1rem; 
    }

    h5 {
        margin-bottom: 0; 
    }

    h4 {
        width: 50%; 
        text-align: center; 
        font-family: 'Lato', sans-serif;
    }
}

.project-body {
    // width: 80%; 
    // font-family: 'Noto Serif', serif; 
    width: 75%; 
    margin: auto; 
    &__image {
        @extend %flex-row-center;
        
        img {
            max-width: 100%; 
        }
    }
}

.project__links {
    @extend %flex-row-center; 
    padding-top: 2rem; 
    padding-bottom: 2rem; 

    &-icon {
            padding-right: 5rem; 
        }

    &-icon:last-child {
            padding-right: 0; 
        }
}

.project-contact {
    text-align: center; 
}

.double-image {
    @extend %flex-row-center; 
    // flex-wrap: wrap; 
}