%flex-row-center {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
}

%flex-col-center {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.projects {
    @extend %flex-col-center;  

    &__links {
        display: flex; 
        flex-direction: row; 
        width: 100%; 
    }

    .project-logo {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 60vh; 
        width: 25vw; 
    }

    .spacechat-logo {
        background-color: #1b2735; 
        img {
            height: 42px; 
            width: 251px; 
        }
    }

    .lingoly-logo { 
        background-color: #22874f; 
    }

    .covfefe-logo {
        background-color: #D46A01; 
    }

    .life-logo {
        background-color: #467988; 
    }
}

//BEGIN QUOTE STYLES
    .section-title {
        align-self: flex-start;
        padding-left: 7%; 
        width: 40%; 

        h3 {
            font-size: 1rem; 
        }  
    }

    .quote {
        width: 65%; 

        h1 {
            border-left: 10px solid #979797;
            font-size: 3rem; 
            text-align: center;
            line-height: 5rem;
            margin-bottom: 0;   
        }
    }

    .quote-name {
        padding-top: -10%; 
    }
//END QUOTE STYLES//