@import '../abstracts/variables'; 

.myStory {
    min-height: 100vh; 

    &__paragraph {
        // text-align: center; 
        @extend %flex-col-center; 
        margin: 0 8rem; 

        @media screen and (max-width: 600px) {
            margin: 0 3rem; 
        }

        p {
            font-size: 0.8em; 
        }
    }
}